/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the container of club logos */
#clubLogos {
    margin: 20px;
}

/* Styling for the user guess input field and button */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px; /* Adjust the value as needed */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* Styling for the guess result message */
#guessResult {
    font-size: 18px;
    margin: 20px;
    color: #007bff;
}

/* Styling for the club logos */
#clubLogos img {
    width: 100px;
    height: auto;
    margin: 10px;
    margin-bottom: 20px; /* Adjust the value as needed */
}

/* Styling for the guess count */
#guessCount {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
}

#liveGuessCount {
    color: red;
}

/* Style the header container */
#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 35px; /* Adjust the height as needed */
    width: 100%;
    background-color: #f0f0f0; /* Add a background color if needed */
    padding: 10px; /* Adjust the padding as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999; /* Ensure it's above other content */
}

/* Style the logo in the header */
#logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

/* Style the Twitter logo in the header */
#twitter-link {
    width: 30px; /* Adjust the width as needed */
    height: 20; /* Maintain the aspect ratio */
}

/* Add margin to push the content below the fixed header */
#container {
    margin-top: 15px; /* Adjust the margin-top as needed */
}

/* Style for the "Select a player nationality" text */
#nationalityButtons p {
    font-weight: bold;
    margin-bottom: 10px; /* Add more space between the text and flags */
}

/* Style for nationality buttons (remove blue background) */
.nationalityButton {
    display: inline-block;
    margin: 0 5px; /* Add more space between the flags */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0; /* Background color for nationality text */
    color: #007bff; /* Text color for nationality text */
}

/* Apply margin-right to create space between nationality buttons */
.nationalityButton {
    margin-right: 1px; /* Adjust the value as needed for the desired spacing */
    margin-left: 1px; /* Adjust the value as needed for the desired spacing */
}

/* Style for flag emojis */
.nationalityButton::before {
    content: " ";
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    font-size: 24px; /* Adjust font size as needed */
}

/* Add hover effect to buttons */
.nationalityButton:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Add spacing between buttons */
#nationalityButtons {
    text-align: center;
    margin-top: 5px;
}

/* Style for the "Give up" button */
#giveUpButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000; /* Red background for the "Give up" button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* Style for the answer display */
#answer {
    font-size: 18px;
    margin: 20px;
    color: #ff0000; /* Red color for the answer text */
    display: none; /* Initially hidden */
}

/* Add margin at the bottom of the disclaimer text */
#disclaimerText {
    margin-top: 20px; /* Add margin at the top */
    margin-bottom: 40px; /* Add margin at the bottom */
    font-size: 16px;
}

/* Style for the "More" button */
.more-button {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px; /* Add more space between the flags */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0; /* Background color for "More" text */
    color: #007bff; /* Text color for "More" text */
    margin-right: 1px; /* Adjust the value as needed for the desired spacing */
    margin-left: 1px; /* Adjust the value as needed for the desired spacing */
}

/* Styling for the "More" button's flag emoji */
.more-button::before {
    content: " ";
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    font-size: 24px; /* Adjust font size as needed */
}

/* Disable horizontal scrolling */
html, body {
    overflow-x: hidden;
}

/* Apply styling to the position element */
#position {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin: 10px;
    margin-bottom: 20px; /* Adjust the value as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text horizontally */
}

